<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide " *ngFor="let movie of movies.slice(0,20)"
      [ngStyle]="{
        'background-image': 'url('+ (movie.backdrop_path | images) + ')',
        'background-size': 'cover'
        }">
      <a [routerLink]="'movie/' + movie.id">
        <div class="item">
          <p class="movie-title h2 p-2 ms-2 text-dark fw-bold">{{movie.original_title}}</p>
        </div>
      </a>
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
